  <%= form_with model: @user do |form| %>
<div>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username, placeholder: "Your user name here", value: @user.username%>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, placeholder: "example@exam.com", value: @user.email%>
  </div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  <div>
    <%= form.submit %>
  </div>
  <% end %>

  <%= link_to "back", users_path %>
</div>